/* adds reset to all items */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* handles how padding and border are added to the element */
    /* the default is content-box which means that any padding and 
    border added to the element will add to its total width and height
    border-box adds padding and margin to the element without changing its dimentions*/
}

body {
    margin: 20px 0;
    background: #148bb9;
    height: 100vh;
}

h1 {
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 10px;
}

div#game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
  
.card-grid {
    max-width: 960px;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.card {
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(72, 51, 192, 0.3);
}
  
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.card.flip {
    transform: rotateY(180deg);
}
  
.front-image,
.back-image {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(53, 166, 185);
    backface-visibility: hidden;
}
  
.front-image {
    transform: rotateY(180deg);
}

.shuffle-button {
    background-color: white;
    border: none;
    color: #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 5px;
}
