body {
    margin: 20px 0;
    background: #148bb9;
}

h1 {
    text-align: center
}
  
.card-grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div#game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
.card {
    background-color: #4693a7;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 5px 5px rgb(28, 226, 240);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transform: scale(1);
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

img {
    height: 90%;
    width: 90%;
    border-radius: 3px;
    padding: 3px
}

/* .card.flip {
    transform: rotateY(180deg);
} */

.front-image,
.back-image {
    position: absolute;
}